<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateTo('home')">
        <img src="../../assets/icon/70c6a3b2-eab6-49bf-bb62-5941d24c60f7.jfif" alt="logo" class="logo" style="margin-left: 35px;" />
      </ion-button>
    </ion-buttons>
    <ion-button fill="clear" class="nav-button" (click)="navigateTo('Jugadores')">Jugadores</ion-button>
    <ion-button fill="clear" class="nav-button" (click)="navigateTo('managers')">Representantes</ion-button>
    <ion-button fill="clear" class="nav-button" (click)="navigateTo('clubes')">Clubes</ion-button>
    <ion-button fill="clear" class="nav-button" (click)="navigateTo('dts')">DT</ion-button>

    <ion-buttons slot="end">
      <ion-button color="light">Iniciar Sesión</ion-button>
      <ion-button (click)="navigateTo('register')" color="white" style="background-color: #ff6600;" class="button-primary">Comenzar Gratis</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <!-- Formulario de inicio de sesión con email -->
  <div class="form-container">
    <!-- Input de correo -->
    <ion-input
      [(ngModel)]="email"
      type="email"
      placeholder="Correo"
      class="input-field"
    ></ion-input>

    <!-- Input de contraseña -->
    <ion-input
      [(ngModel)]="password"
      type="password"
      placeholder="Contraseña"
      class="input-field"
    ></ion-input>

    <!-- Botón de inicio de sesión con email -->
    <ion-button
      expand="full"
      (click)="loginWithEmail()"
      class="button-orange"
    >
      Iniciar Sesión con Email
    </ion-button>
  </div>

  <!-- Inicio de sesión con Google -->
  <div class="button-container">
    <!-- Botón de inicio de sesión con Google -->
    <ion-button
      expand="full"
      (click)="loginWithGoogle()"
      class="button-orange"
    >
      Iniciar Sesión con Google
    </ion-button>
  </div>

  <!-- Botón para ir al registro -->
  <div class="button-container">
    <ion-button
      expand="full"
      [routerLink]="['/register']"
      class="button-orange"
    >
      Ir al Registro
    </ion-button>
  </div>
</ion-content>
