ion-toolbar {
  --background: #ffffff; /* Color blanco */
}

.nav-button {
  --color: #ff6600; /* Naranja */
  font-weight: bold;
}

.logo {
  width: 50px;
}

h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

p {
  color: white;
  font-size: 16px;
}

.player-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.player-buttons ion-button {
  width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  max-width: 200px; /* Define un tamaño máximo de ancho para pantallas grandes */
  --background: white;
  --color: #ff6600;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Media query para pantallas grandes */
@media (min-width: 768px) {
  .player-buttons {
    justify-content: space-around;
  }

  .player-buttons ion-button {
    width: auto; /* Deja que los botones se ajusten a su contenido */
  }
}

.player-profile {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  background-color: #ffe6cc;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.player-image {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #ff6600;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.player-details,
.player-section {
  margin-bottom: 20px;
}


/* Estilo del footer */
ion-footer {
  background-color: white;
  /* padding: 20px; */
  text-align: center;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.footer-content {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
}

.privacy-links a {
  text-decoration: none;
  font-size: 14px;
  color: #ff6600;
}

ion-content {
  padding-bottom: 80px; /* Añade más espacio para que el contenido no se sobreponga con el footer */
  --background: #ffffff;
}
