<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="header-content ion-align-items-center">
        <!-- Logo -->
        <ion-col size="12" size-md="3" class="logo-column">
          <ion-button fill="clear" (click)="navigateTo('home')" class="logo-button">
            <img src="../../assets/icon/70c6a3b2-eab6-49bf-bb62-5941d24c60f7.jfif" alt="logo" class="logo" />
          </ion-button>
        </ion-col>

        <!-- Navigation buttons (hidden on mobile) -->
        <ion-col size="12" size-md="6" class="nav-buttons-column">
          <ion-buttons class="nav-buttons">
            <ion-button fill="clear" class="nav-button" (click)="navigateTo('Jugadores')">Jugadores</ion-button>
            <ion-button fill="clear" class="nav-button" (click)="navigateTo('managers')">Representantes</ion-button>
            <!-- <ion-button fill="clear" class="nav-button" (click)="navigateTo('clubes')">Clubes</ion-button> -->
            <ion-button fill="clear" class="nav-button" (click)="navigateTo('dts')">DT</ion-button>
          </ion-buttons>
        </ion-col>

        <!-- Login and Register buttons (hidden on mobile) -->
        <ion-col size="12" size-md="3" class="buttons-column">
          <ion-buttons class="buttons-container">
            <ion-button (click)="navigateTo('perfil')" class="login-button">PERFIL</ion-button>
            <ion-button (click)="navigateTo('home')" class="start-button">FAQ</ion-button>
          </ion-buttons>
        </ion-col>

        <!-- Hamburger menu (only visible on mobile) -->
        <ion-col size="12" class="menu-hamburger-column">
          <ion-menu-button auto-hide="false" class="menu-button"></ion-menu-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- Sidebar menu -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateTo('Jugadores')">Jugadores</ion-item>
      <ion-item button (click)="navigateTo('managers')">Representantes</ion-item>
      <!-- <ion-item button (click)="navigateTo('clubes')">Clubes</ion-item> -->
      <ion-item button (click)="navigateTo('dts')">DT</ion-item>
      <ion-item button (click)="navigateTo('perfil')">Perfil</ion-item>
      <ion-item button (click)="navigateTo('home')">Faq</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-content id="main-content">
  <div class="how-it-works">
    <h1 class="gradient-text">Perfiles de Clubes</h1>
  </div>


  <div class="filters-container">
    <div class="right-filters">
      <input
        type="text"
        placeholder="País"
        [(ngModel)]="countryFilter"
        (ngModelChange)="applyFilters()"
      />
      <input
        type="text"
        placeholder="Buscar..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="applyFilters()"
      />
    </div>
  </div>


  <br />

  <!-- Contenedor de tarjetas de clubes -->
  <div class="players-container">
<div class="player-card" *ngFor="let club of filteredClubs">
      <img [src]="club.profilePhotoUrl || 'https://via.placeholder.com/300x200'" alt="{{ club.nombre }}">
      <div class="player-info">
        <h3>{{ club.nombre }}</h3>
        <p>{{ club.detalle }}</p>
        <p>{{ club.country }} - {{ club.province }}</p>
        <p>Fundación: {{ club.fundacion }}</p>
        <h4>Redes Sociales</h4>
        <p>Instagram: {{ club.instagram || 'No disponible' }}</p>
        <p>Facebook: {{ club.facebook || 'No disponible' }}</p>
        <p><a [href]="club.website" target="_blank">Sitio Web</a></p>
      </div>
    </div>
  </div>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />

  <br />
  <br />

  <ion-footer>
    <div class="footer-content">
      <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-twitter fa-2x" style="color: #ff6600;"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram fa-2x" style="color: #ff6600;"></i></a>
        <a href="#" target="_blank"><i class="fab fa-youtube fa-2x" style="color: #ff6600;"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x" style="color: #ff6600;"></i></a>
      </div>

      <div class="privacy-links">
        <a href="#" style="color: #ff6600;">Políticas de privacidad</a>
        <br>
        <a href="#" style="color: #ff6600;">Términos y condiciones</a>
      </div>
    </div>
  </ion-footer>
</ion-content>
