/* club-profile.page.scss */

ion-card {
    --background: #ffffff; /* Cambia el fondo de la tarjeta a blanco */


  border-radius: 15px;
  margin: 20px;
}

ion-card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #333;
}

ion-card-content {
  display: flex;
  justify-content: center;
}

ion-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

ion-list {
  margin: 0 20px;
}

ion-item {
  --background: transparent;
  --ion-item-background: #ffffff;
  --border-color: transparent;
  margin-bottom: 10px;
}

ion-label h2 {
  font-size: 1.2em;
  color: #666;
}

ion-label p {
  font-size: 1em;
  color: #000;
  margin: 5px 0;
}

a {
  color: #3880ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ion-spinner {
  margin-top: 20px;
}

p {
  text-align: center;
  color: #666;
}


/* Fondo global del componente */
:host {
  --ion-background-color: #ffffff; /* Asegura que el fondo del componente sea blanco */
}

ion-content {
  --background: #ffffff; /* Establece el fondo a blanco */
}


