<ion-header>
  <ion-toolbar>


   <ion-buttons slot="start">
      <!-- Botón para ir al Home -->
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title style="text-align: center;"  > Perfil del Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="clubProfile">
  <!-- Imagen del perfil del club -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ clubProfile.playerName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="clubProfile.profilePhotoUrl" [src]="clubProfile.profilePhotoUrl" alt="Foto de perfil del club"></ion-img>
    </ion-card-content>
  </ion-card>

  <!-- Detalles del club -->
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>País:</h2>
        <p>{{ clubProfile.country }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Provincia:</h2>
        <p>{{ clubProfile.province }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Año de Fundación:</h2>
        <p>{{ clubProfile.fundacion }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Edad Promedio:</h2>
        <p>{{ clubProfile.age }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="clubProfile.instagram">
      <ion-label>
        <h2>Instagram:</h2>
        <p><a href="{{ clubProfile.instagram }}" target="_blank">{{ clubProfile.instagram }}</a></p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="clubProfile.facebook">
      <ion-label>
        <h2>Facebook:</h2>
        <p><a href="{{ clubProfile.facebook }}" target="_blank">{{ clubProfile.facebook }}</a></p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="clubProfile.website">
      <ion-label>
        <h2>Sitio Web:</h2>
        <p><a href="{{ clubProfile.website }}" target="_blank">{{ clubProfile.website }}</a></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Descripción:</h2>
        <p>{{ clubProfile.detalle }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Mensaje de carga -->
<ion-content *ngIf="!clubProfile">
  <ion-spinner></ion-spinner>
  <p>Cargando el perfil del club...</p>
</ion-content>
